<div class="project-card">
  <div class="project-header">
    <img alt="Icon" src={{this.image}} />

    <h3 class="title">{{this.title}}</h3>
  </div>

  <div class="tags">
    {{#each this.tags as |tag|}}
      <div class="tag">{{tag}}</div>
    {{/each}}
  </div>

  <p class="description">{{this.description}}</p>

  <a alt="Source Code Link" href={{this.source}}>Source</a>

  <a alt="Website Link" href={{this.website}}>Website</a>
</div>