<div class="project-card">
  <div class="project-header">
    <img alt="Project image" src={{this.image}} />

    <h3 class="title">{{this.title}}</h3>
  </div>

  <p class="description">{{this.description}}</p>

  <a alt="Source Code Link" href={{this.source}}>Source</a>

  <a alt="Website Link" href={{this.website}}>Website</a>
</div>