<div class="project-card">
  <div class="project-header">
    {{#if this.image}}
      <img alt="Icon" src={{this.image}}>
    {{/if}}

    <h3 class="title">{{this.title}}</h3>
  </div>

  <div class="tags">
    {{#each this.tags as |tag|}}
      <div class="tag">{{tag}}</div>
    {{/each}}
  </div>

  <p class="description">{{this.description}}</p>

  {{#if this.source}}
    <a alt="Source Code Link" class="icon" href={{this.source}}>
      {{fa-icon "github-alt" prefix="fab"}}
    </a>
  {{/if}}

  {{#if this.website}}
    <a alt="Website Link" class="icon" href={{this.website}}>
      {{fa-icon "globe"}}
    </a>
  {{/if}}
</div>