<section class="home-container">
  <h2 class="title" style="text-align: center;">
    Couldn't find what you're looking for? We're under construction! 🚧
  </h2>

  <AboutCard />

  <h2 class="title">
    Contact
  </h2>

  <div class="separator-h" />

  <div class="social">
    <a alt={{model.linkedin.alt}} class="icon" href={{model.linkedin.href}}>
      {{fa-icon model.linkedin.icon prefix="fab"}}
    </a>

    <a alt={{model.github.alt}} class="icon" href={{model.github.href}}>
      {{fa-icon model.github.icon prefix="fab"}}
    </a>

    <a alt={{model.twitter.alt}} class="icon" href={{model.twitter.href}}>
      {{fa-icon model.twitter.icon prefix="fab"}}
    </a>

    <a alt={{model.mail.alt}} class="icon" href={{model.mail.href}}>
      {{fa-icon model.mail.icon}}
    </a>
  </div>

  {{outlet}}
</section>