<section class="projects">
  <AboutCard />

  <h2 class="title">
    Projects
  </h2>

  <div class="separator-h" />

  {{#each model as |project|}}
    <ProjectCard
      @description={{project.description}}
      @image={{project.image}}
      @source={{project.source}}
      @tags={{project.tags}}
      @title={{project.title}}
      @website={{project.website}}
    />

    <div class="separator-h" />
  {{else}}
    <h5>
      Sorry, there seems to be an error loading projects. Check out my <a alt="Github link" href="https://github.com/jwu910">Github</a>
    </h5>
  {{/each}}
</section>